body {
  background-color: black;
}

h1 {
  font-family: 'Poiret One', cursive;
  color: white;
  text-align: center;
}

span.tagline {
  font-family: 'Poiret One', Verdana;
  display: block;
  margin: -25px auto;
  color: white;
  text-align: center;
  font-style: italic;
}

a {
  text-decoration: none;
  color: white;
}

#container {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
  width: 1000px;
  height: 750px;
  margin: 0 auto;
  margin-top: -25px;
}

#chart {
  height: 690px;
  width: 675px;
  margin: 0 auto;
  background-image: url(../images/color_bg.png);
  background-size: cover;
 -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
      -o-border-radius: 10px;
         border-radius: 10px;
}

.vertical {
  width: 10px;
  height: 700px;
  float: left;
  margin: -1px;
}

.box {
  height: 99px;
  width: 12px;
/* -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
      -o-border-radius: 200px;
         border-radius: 200px;*/
}

.red {
  background-color: black;
  opacity: 1;
}

.orange {
  background-color: black;
  opacity: 1;
}

.yellow {
  background-color: black;
  opacity: 1;
}

.green {
  /*border: 1px solid green;*/
  background-color: black;
  opacity: 1;
}

.blue {
  /*border: 0.5px solid blue;*/
  background-color: black;
  opacity: 1;
}

.indigo {
  /*border: 0.5px solid navy;*/
  background-color: black;
  opacity: 1;
}

.purple {
  /*border: 1px solid purple;*/
  background-color: black;
  opacity: 1;
}






