.theme-showcase > p > .btn {
  margin: 5px 0;
}

#wrapper {
  width: 1500px;
  height: 900px;
  background-image: url(../images/paris.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  /*background-color: green;*/
  width: 1090px;
  margin: 0 auto;
}

#header-name {
  padding-top: 100px;
  width: 600px;
  margin-left: 100px;
  color: #e3e3e3;
}

#header-name h1 {
  font-size: 4em;
}

.navbar-header {
  font-size: 1.2em;
}

#bubble2 {
  color: white;
  font-size: 1em;
  opacity: 0.8;
  background-image: linear-gradient(to bottom,#3c3c3c 0,#222 80%);
  background-repeat: repeat-x;
  background-color: white;
  position: relative;
  -webkit-border-radius: 250px;
     -moz-border-radius: 250px;
       -o-border-radius: 250px;
          border-radius: 250px;
}

#bubble2:hover {
-webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
   -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
        box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
  -webkit-transition: 300ms linear 0s;
     -moz-transition: 300ms linear 0s;
       -o-transition: 300ms linear 0s;
          transition: 300ms linear 0s;
   -webkit-transform: rotate(0deg) scale(1.07);
      -moz-transform: rotate(0deg) scale(1.07);
           transform: rotate(0deg) scale(1.07);

}

#bubble2 {
  float: right;
  width: 135px;
  padding: 50px;
  padding-top: 55px;
  top: -60px;
  right: 200px;
}

#bubble2 img {
  width: 30px;
  height:30px;
}

#bubble2 a:hover {
  color: magenta;
  text-shadow: none;
  text-decoration: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -webkit-transition: 500ms linear 0s;
     -moz-transition: 500ms linear 0s;
       -o-transition: 500ms linear 0s;
          transition: 500ms linear 0s;
  outline: 0 none;
}

#bubble2 h3 {
  text-align: center;
  font-variant: small-caps;
}

#bubble2 a {
  color: silver;
  font-variant: small-caps;
}

#bubble2 p {
  font-weight: bold;
}

#bubble2 span.short_term{
  font-size: 1.2em;
  font-weight: bold;
  color: #00B6FF;
}

span.tiny {
  font-size: .8em;
  font-style: italic;
}

#first-page-arrow-down {
  display: block;
  position: relative;
  top: 430px;
  left: 50px;
  width: 75px;
  height: 75px;
}

.bounce {
  -webkit-animation-name: bounce;
          animation-name: bounce;
}

.animated {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.scene h4 {
  position: relative;
  top: 10px;
}

@media (max-width: 400px) {

  #wrapper {
    background-image: url(../images/landscape_bg.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 900px;
  }

  #header-name {
    position: relative;
    left: 25px;
  }

  #header-name h1 {
    position: relative;
    top: 10px;
    font-size: 2.2em;
  }

  #header-name p {
    width: 200px;
    position: relative;
    left: 5px;
  }

  #bubble2 {
    background-image: none;
    background-color: transparent;
    position: relative;
    top: -165px;
    left: -30px;
    font-size: 0.8em;
    padding: 15px;
    width: 40px;
    overflow: hidden;
  }

  #bubble2 img {
    display: block;
    margin: 0 auto;
  }

  .container header h1 {
    color: white;
  }

  .wrapper {
    margin-left: -2%;
  }

  #first-page-arrow-down {
    position: relative;
    top: 420px;
    left: 340px;
  }

  h4 {
    color: white;
  }

  /*WHAT IS HAPPENING HERE? */
  .noshow {
    display: none;
  }

  .container {
    background-color: black;
  }

}

@media (max-width: 320px) {

  #wrapper {
    /*background-image: url(../images/mobile_bg.jpg);*/
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 900px;
  }

  #header-name {
    position: relative;
    top: -50px;
    left: 30px;
  }

  #header-name h1 {
    position: relative;
    top: -30px;
    left: -20px;
    font-size: 1.7em;
  }

  #header-name p {
    position: relative;
    top: -40px;
    left: -19px;
    font-size: 0.8em;
    width: 175px;
  }

  #bubble2 {
    position: relative;
    top: -175px;
    left: -120px;
  }

  .wrapper {
    margin-left: -8%;
  }

  span.noshow {
    display: none;
  }

}

@media only screen and (max-device-width: 480px) {

  #wrapper {
    width: 480px;
    height: 900px;
    background-image: url(../images/mobile_bg.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    width: 480px;
  }

  #header-name {
    position: relative;
    top: -50px;
    left: 40px;
  }

  #header-name h1 {
    position: relative;
    top: -20px;
    left: -15px;
    font-size: 2.5em;
  }

  #header-name p {
    position: relative;
    top: -30px;
    left: -19px;
  }

  #bubble2 {
    background-image: none;
    background-color: transparent;
    position: relative;
    top: -150px;
    left: -50px;
    font-size: 0.9em;
    padding: 40px;
    padding-left: 20px;
    width: 85px;
  }

  #bubble2 img {
    width: 50px;
    height:30px;
  }

/*  span.noshow {
    display: none;
  }*/
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width : 320px) {
  #wrapper {
    width: 960px;
    height: 900px;
    background-image: url(../images/mobile_bg.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    width: 960px;
  }

  #header-name {
    position: relative;
    top: -30px;
    left: 15px;
  }

  #header-name p {
    left: 10px;
  }

  #bubble2 {
    background-image: none;
    background-color: transparent;
    position: relative;
    top: -175px;
    left: -250px;
    font-size: 0.9em;
    padding: 40px;
    width: 20px;
  }

  #bubble2 img {
    width: 50px;
  }

  span.noshow {
    display: none;
  }

  .wrapper {
    margin-left: -5%;
  }

}
